.nav_container_projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
}
.projects {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2.3rem;
    color: white;
    width: 800px;
    text-align: center;
    animation: slide-animation 1s ease-in forwards;
}

.navLinks_container_projects {
    width: 50%;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
}

.nav_links_projects {
    font-size: 28px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navLinkProject {
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transform: translateX(-200%);
    opacity: 0;
    animation: slide-in-anim 1.5s ease-out forwards;
}
.navLinkProject::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: yellow;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navLinkProject:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.project_container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    animation: slide-animation 1s ease-in forwards;

    .page {
        width: 50%;
        margin-top: 50px;
        margin-bottom: 100px;
        text-align: center;
        transition: transform 0.4s ease-in-out;

        a {
            text-decoration: none;
            color: white;
        }

        .project {
            width: 100%;
            border-radius: 15px;
        }
    }

    .page:hover {
        transform: scale(1.2);
    }
}

@media (max-width: 1600px) and (min-width: 800px) {
    .nav_container_projects {
        flex-direction: column-reverse;
        .projects {
            width: 100%;
            margin-top: 30px;
            font-size: 2rem;
        }
        .navLinks_container_projects {
            width: 100%;
        }
    }
}

@media (max-width: 800px) {
    .nav_container_projects {
        flex-direction: column-reverse;
        .projects {
            width: 100%;
            margin-top: 30px;
            font-size: 1.5rem;
        }
        .navLinks_container_projects {
            width: 100%;
            .nav_links_projects {
                font-size: 1.6rem;
            }
        }
    }
}

@media (max-width: 500px) {
    .nav_container_projects {
        flex-direction: column-reverse;
        .projects {
            width: 100%;
            margin-top: 30px;
            font-size: 1rem;
        }
        .navLinks_container_projects {
            width: 100%;
            .nav_links_projects {
                font-size: 1rem;
            }
        }
    }
}
