.nav_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
}

.navLinks_container {
    width: 50%;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
}

.nav_links {
    font-size: 28px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navLink {
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transform: translateX(-200%);
    opacity: 0;
    animation: slide-in-anim 1.5s ease-out forwards;
}

@keyframes slide-in-anim {
    20% {
        opacity: 0;
    }
    50% {
        transform: translateX(-8%);
    }
    80% {
        transform: translateX(-3%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.navLink::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: yellow;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navLink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.light_container {
    width: 30%;
    display: flex;
    justify-content: center;
}

.light {
    width: 180px;
    height: 180px;
    cursor: pointer;
}

@media (max-width: 1020px) {
    .nav_container {
        flex-direction: column;
        .light_container {
            align-self: center;
            display: none;
            .light {
                width: 160px;
                height: 160px;
            }
        }
        .navLinks_container {
            align-self: center;
            width: 80%;
        }
    }
}

@media (max-width: 750px) {
    .navLinks_container {
        width: 100%;
        .nav_links {
            font-size: 24px;
        }
    }
}

@media (max-width: 600px) {
    .nav_container {
        .navLinks_container {
            padding-top: 30px;
            width: 100%;
            .nav_links {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 370px) {
    .nav_container {
        .navLinks_container {
            width: 100%;
            .nav_links {
                font-size: 15px;
            }
        }
    }
}
