.nav_container_about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
}

.navLinks_container_about {
    width: 50%;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
}

.nav_links_about {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navLinkAbout {
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transform: translateX(-200%);
    opacity: 0;
    animation: slide-in-anim 1.5s ease-out forwards;
}

.navLinkAbout::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: yellow;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navLinkAbout:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.about {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2.3rem;
    color: white;
    width: 800px;
    text-align: center;
    animation: slide-animation 1s ease-in forwards;
}

@keyframes slide-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.text_container {
    font-family: 'Poppins', sans-serif;
    font-size: 1.9rem;
    width: 800px;
    color: white;
    animation: slide-animation 1.2s ease-in forwards;
}

.firstRow,
.secondRow,
.thirdRow,
.fourthRow {
    display: flex;
    justify-content: space-around;
}

.firstRow {
    .imageIcons {
        width: 11%;
    }
}

.secondRow {
    margin-top: 50px;
    margin-bottom: 50px;
    .imageIcons {
        width: 15%;
        height: 10%;
    }
}

.thirdRow {
    justify-content: space-evenly;
    #git {
        width: 25%;
        height: 11%;
    }
    #github {
        width: 12%;
    }
}

.image-container {
    width: 700px;
    animation: slide-animation 1.2s ease-in forwards;
}

.mainIcon {
    width: 60%;
    margin-top: 15px;
}

@media (max-width: 1600px) {
    .nav_container_about {
        flex-direction: column-reverse;
        .navLinks_container_about {
            width: 100%;
            align-items: center;
        }
        .about {
            margin-top: 30px;
            width: 50%;
        }
    }
}

@media (max-width: 1020px) {
    .nav_links_about {
        font-size: 1.7rem;
    }
    .about {
        font-size: 1.7rem;
    }
    .text_container {
        font-size: 1.5rem;
        padding: 0 15px;
    }
}

@media (max-width: 700px) {
    .nav_links_about {
        font-size: 1.3rem;
    }
    .about {
        font-size: 1.2rem;
    }
    .text_container {
        font-size: 1.2rem;
    }
}

@media (max-width: 500px) {
    .nav_links_about {
        font-size: 1rem;
    }
    .about {
        font-size: 0.8rem;
    }
    .text_container {
        font-size: 0.8rem;
    }
}
